body {
    background-image: url("1354873-min.png");
    background-position: 50% 0%;

    text-align: center;
}

#wholepage {
    background-color: rgba(100, 100, 100, .7);
    position: absolute;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}

#overlayDiv {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}

#closeOverlayDiv {
    position: absolute;
    font-size: 2rem;
    top: 20px;
    right: 20px;
}

#sectionDiv {
    display: none;
}

#displayDiv {
    display: none;
}
#overlayButton, select {
    font-size: 1.5rem;
}

#wholepage > div {
    margin-top: 50px;
}

#translateToggles {
    position: absolute;
    top: 3%;
    right: 3%;
    margin-top: 0;
}

.translateToggle {
    color:rgb(24, 1, 1);
    font-weight: bold;
}

.translateToggle.selectable {
    cursor:pointer;
    text-decoration:underline;
}

#informationBox {
    font-size: 1.2em;
    border: 2px solid #A93434;
    border-radius: 50px;

    background-color: rgba(171, 179, 57, 0.245); /*rgba(81, 23, 23, 0.245)*/
    
    padding: 20px;
    margin: 20px;

    padding-top: 80px;

    position: relative;
}
#informationBox #infoIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #9b1e1e; /*#c7b93a*/
    font-size: 2em;
}
#informationBoxImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#informationBoxImages img {
    max-width: 50%;
}
@media (max-width: 768px) {
    #informationBoxImages {
        flex-direction: column;
    }
    #informationBoxImages img {
        max-width: 100%;
    }
}