html {
    background-image: url("1354873-min.png");
    background-position: 50% 0%;

    text-align: center;
    font-size: 21px;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#logo {
    height: 100px;
}

/* Semi-transparent overlay on the background */
#wholepage {
    background-color: rgba(100, 100, 100, .7);
    position: absolute;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}

/* Full-page popup */
#overlayDiv {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}
#closeOverlayDiv {
    position: absolute;
    font-size: 2rem;
    top: 20px;
    right: 20px;
}

/* Hide dropdowns by default */
#sectionDiv {
    display: none;
}
#displayDiv {
    display: none;
}

.pretext {
    font-size: 1.2rem;
    font-weight: normal;
}

/* Size of inputs */
#overlayButton, select {
    font-size: 1.25rem;
}

/* Space elements vertically */
#wholepage > div {
    margin-top: 50px;
}

/* Translate toggles in the top right */
#translateToggles {
    position: absolute;
    top: 3%;
    right: 3%;
    margin-top: 0;
}
.translateToggle {
    color:rgb(24, 1, 1);
    font-size: 0.8rem;
    font-weight: bold;
}
.translateToggle.selectable {
    cursor:pointer;
    text-decoration:underline;
}

/* Infoboxes */
.box {
    border: 2px solid;
    border-radius: 50px;
    
    padding: 20px;
    margin: 20px;

    padding-top: 80px;

    position: relative;
}
.box .boxIcon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2em;
}

/* Mulberry infobox */
#informationBox {
    border-color: #A93434;
    background-color: rgba(171, 179, 57, 0.245);
}
#informationBox #infoIcon {
    color: #9b1e1e;
}
#informationBox #ex1 {
    margin-bottom: 0.5rem;
}
#informationBox #ex2 {
    margin-bottom: 2.5rem;
}
#informationBoxImages {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    flex-direction: row;
    gap: 10px;
}
#informationBoxImages div {
    display: flex;
    flex-direction: column;

    max-width: 50%;
}
@media (max-width: 768px) {
    /* Put images in a column on small screens */
    #informationBoxImages {
        flex-direction: column;
        gap: 60px;
    }
    #informationBoxImages div {
        max-width: 100%;
    }
}
#informationBoxImages span {
    font-size: 2.7rem;
    font-weight: bold;
}

/* Oldies infobox */
#oldiesBox {
    border-color: #26c47f;
    background-color: rgba(105, 204, 163, 0.245);
}
#oldiesBox #oldiesIcon {
    color: #24a969;
}
#oldiesLyrics {
    margin-top: 60px;
}

/* Qr Code area */
#qrCode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
#qrCodeCol {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 20px;
}
#qrCodeCol img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
